docs/templates/n8n-edit-flow.json
{
  "name": "OmniDev Edit Flow (Template)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d76bb25-6411-47ac-bde6-4a0a07042b59",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "54897115-f668-470b-a460-db6e8b788ec4",
              "leftValue": "={{ $json.data.assignee.email }}",
              "rightValue": "your-bot@example.com",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "01b3145c-97dd-4eb0-af42-2e5c9f250d0b",
              "leftValue": "={{ $json.data.state.name }}",
              "rightValue": "Your Trigger State",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "7e2be421-09ae-46d5-adb6-1047da30a5d2",
              "leftValue": "={{ $json.actor.email }}",
              "rightValue": "your-bot@example.com",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [208, 16],
      "id": "422d7f2f-41f2-4570-aa38-07dff7b3e473",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-omnidev-instance.example.com/api/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workspaceId",
              "value": "YOUR_WORKSPACE_ID"
            },
            {
              "name": "question",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "sourceBranch",
              "value": "={{ $('Linear Trigger').item.json.data.project.name }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [656, 0],
      "id": "362e6e15-b192-45ee-b79e-1a7cc9a85f57",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "YOUR_BEARER_AUTH_CREDENTIAL_ID",
          "name": "OmniDev API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d821dcc0-d078-4904-b725-1e68561b4b65",
              "name": "prompt",
              "value": "=You have access to a Linear MCP. Open the Linear issue at this URL: {{ $json.data.url }}  and make the requested implementation from the plan.  When you are done, leave a comment on the issue that the implementation is complete.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 0],
      "id": "30caa444-669f-417b-b8de-1de94c436bf4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "issueId": "={{ $('Linear Trigger').item.json.data.id }}",
        "updateFields": {
          "assigneeId": "YOUR_BOT_USER_ID",
          "stateId": "YOUR_TARGET_STATE_ID"
        }
      },
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1.1,
      "position": [864, 0],
      "id": "191bf595-8275-43eb-9e4e-c0cd4b802e97",
      "name": "Update Issue State",
      "credentials": {
        "linearApi": {
          "id": "YOUR_LINEAR_CREDENTIAL_ID",
          "name": "Linear account"
        }
      }
    },
    {
      "parameters": {
        "teamId": "YOUR_LINEAR_TEAM_ID",
        "resources": ["issue"]
      },
      "type": "n8n-nodes-base.linearTrigger",
      "typeVersion": 1,
      "position": [0, 16],
      "id": "10839963-ecb7-4f99-84ac-50f76bdb88ba",
      "name": "Linear Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "linearApi": {
          "id": "YOUR_LINEAR_CREDENTIAL_ID",
          "name": "Linear account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update Issue State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linear Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
